.container {
  padding-left: 10px;
  padding-right: 10px;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.content {
  padding-top: 3vh;
  padding-bottom: 3vh;
}

.headline {
  font-weight: bold;
  font-size: 54px;
  line-height: 59px;
  min-height: 20vh;
  padding: 0 5% 0 5%;
  text-align: center;
}

.highlight {
  color: var(--ifm-color-primary);
  font-weight: bold; /* Make the text bold */
  text-decoration: underline; /* Add an underline */
  text-decoration-thickness: 10px; /* Specify the thickness (adjust the value as needed) */
}

.get-started-button {
  margin-top: 10vh;
}

.subtitle {
  
  font-size: 28px;
  line-height: 48px;
  font-weight: 400;
  padding: 5vh 5% 0 5%;
}

.particles {
  position: fixed;
  max-height: 100vh;
  width: 100vw;
  z-index: -10;
}

@media only screen and (max-width: 1224px) {
  .headline {
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
  }

  .subtitle {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    margin-top: 10px;
  }
  .get-started-button {
    margin-top: 20px;
  }
}

.cocmd-img {
  max-height: 80vh;
  max-width: 80%;
  padding: 15px;
}
